.deps/
Makefile
*.o
atftp
atftpd
build-stamp
config.h
config.log
config.status
configure-stamp
debian/files
debian/opsi-atftp.debhelper.log
debian/opsi-atftp.substvars
debian/opsi-atftp/
debian/opsi-atftpd.debhelper.log
debian/opsi-atftpd.postinst.debhelper
debian/opsi-atftpd.postrm.debhelper
debian/opsi-atftpd.prerm.debhelper
debian/opsi-atftpd.substvars
debian/opsi-atftpd/
stamp-h1
